*{
    font-family: Verdana;
}

nav{
    background-color: #051B54;
}

nav .nav-item, .navbar-brand{
    margin: 0 1rem 0 1rem;
}

span{
    color: #051B54;
}

.formulario{
    width: 95%;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .5rem rgb(171, 170, 170), -.1rem -.1rem .5rem rgb(171, 170, 170); 
}

.navbar-brand{
    font-family: 'Gill Sans';
}

.botonNav{
    opacity: 50%;
    background-color: #FFFFFF33;
}

.promocional{
    background-color: #62DAD3;
    padding: 4% 4% 4% 4%;
}